/* STYLE SECTIONING TAGS */
body {
 background-color: ##FAF9F6; 
}

/* STYLE TEXT */
header {
  color: #A950A1; 
}
h1 {
  color:#A950A1; 
}
p {
  color: #2D1E2F;
}
main{
  color: #A950A1;
}

/* STYLE IMAGES */

/* STYLE NAV BAR */